/* navbar */

.sidenav {
    padding-top: 70px;
    width: 250px;
}

.nav {
    background-color: yellow!important;
}

.navbar-fixed {
    background-color: #e3d617!important;
    height: 50px!important;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    transition: all .4s ease-in-out;
}

.sidenav,
.navbar-fixed {
    box-shadow: none!important;
    webkit-box-shadow: none!important;
}

.brand-logo {}

.menu {
    color: rgb(2, 61, 46);
    font-size: 27px!important;
}

.logo {
    width: 150px;
    margin-top: 5px;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
    line-height: 47px!important;
}


/* navbar */