/* shop */

.shopsection {
    margin-top: 60px!important;
}

.card {
    box-shadow: none!important;
}

.shopimage,
.shopimage img {
    border-radius: 8px!important;
    height: 100px;
}

.card-title p {
    font-weight: bolder;
    font-size: 16px!important;
    margin: 0%!important;
}

.card-body p {
    font-size: 12px!important;
    margin: 0%!important;
}

.rate {
    display: inline-flex;
}

.rate span {
    font-size: 13px;
}

.rate p {
    font-size: 15px;
}


/* shop */